{% extends "Directivo/BaseDirectivo.html" %}

{% block content %}

{% load static %}

<title>{% block title %}Gestion de Horarios{% endblock %}</title>


<div class="contenido">
    
    <h2>Horario</h2>

    <div class="grid-container">
        {% for horario in horarios %}
            <div class="grid-item">
                <h4>Horario - Periodo {{ horario.idPeriodo }}</h4>
                <p><strong>Lunes:</strong> {{ horario.Lunes }}</p>
                <p><strong>Martes:</strong> {{ horario.Martes }}</p>
                <p><strong>Miércoles:</strong> {{ horario.Miercoles }}</p>
                <p><strong>Jueves:</strong> {{ horario.Jueves }}</p>
                <p><strong>Viernes:</strong> {{ horario.Viernes }}</p>
                <div class="grid-actions">
                    <a href="{% url 'EliminarHorario' horario.idHorario profesor.idProfesor %}" class="delete-btn" onclick="return confirm('¿Estás seguro de que deseas eliminar este horario?')">Eliminar</a>
                    <button class="update-btn" onclick="openModal({{ horario.idHorario }}, '{{ horario.Lunes|time:"H:i" }}', '{{ horario.Martes|time:"H:i" }}', '{{ horario.Miercoles|time:"H:i" }}', '{{ horario.Jueves|time:"H:i" }}', '{{ horario.Viernes|time:"H:i" }}','{{horario.idPeriodo}}')">Actualizar</button>
                </div>
            </div>
        {% endfor %}
    </div>
    

    <div class="buttons-container">
        <button onclick = "abrirCrear()">Ingresar Horario</button>
    </div>



    <div id="editModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Editar Horario</h2>
    
            <!-- Formulario de edición -->
            <form method="POST" action="{% url 'EditarHorario' 0%}" id="editForm">
                {% csrf_token %}
    
                <div>
                    <label for="Lunes">Lunes:</label>
                    {{form.Lunes}}
                </div>
                <div>
                    <label for="Martes">Martes:</label>
                    {{ form.Martes }}
                </div>
                <div>
                    <label for="Miercoles">Miercoles:</label>
                    {{ form.Miercoles }}
                </div>
                <div>
                    <label for="Jueves">Jueves:</label>
                    {{ form.Jueves }}
                </div>
                <div>
                    <label for="Viernes">Viernes:</label>
                    {{ form.Viernes }}
                </div>
                <div>
                    <label for="Periodo">Periodo:</label>
                    {{ form.idPeriodo }}
                </div>
    
                <div>
                    <button type="submit">Editar Horario</button>
                </div>
            </form>
        </div>
    </div>
        
    


    
    <div div id="CrearModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="CerrarModalCrear()">&times;</span>
            <h2>Crear Horario</h2>
            <form method="POST" action="{% url 'CrearHorario' profesor.idProfesor %}">
                {% csrf_token %}
                
    
                <div>
                    <label for="Lunes">Lunes:</label>
                    {{ form.Lunes }}
                </div>
    
                <div>
                    <label for="Martes">Martes:</label>
                    {{ form.Martes }}
                </div>
    
                <div>
                    <label for="Miercoles">Miercoles:</label>
                    {{ form.Miercoles }}
                </div>
    
                <div>
                    <label for="Jueves">Jueves:</label>
                    {{ form.Jueves }}
                </div>
    
                <div>
                    <label for="Viernes">Viernes:</label>
                    {{ form.Viernes }}
                </div>

                <div>
                    <label for="Periodo">Periodo:</label>
                    {{ form.idPeriodo }}
                </div>

                
    
                <div>
                    <button type="submit">Crear Horario</button>
                </div>
            </form>
        </div>
    </div>

</div>
    
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'MenuAdministrador/Styles/GestionDirectivos.css' %}">
    {% endblock %}

{% endblock %}




{% block extra_js %}
    <script src="{% static 'MenuDirectivo/Scripts/GestionHorarios.js' %}"></script> 
{% endblock %}