{% extends "Directivo/BaseDirectivo.html" %}

{% block content %}

{% load static %}

<title>{% block title %}Gestion de Horarios{% endblock %}</title>


<div class="contenido">
    
    <h2>Horarios PDF</h2>

    <div class="grid-container">
        {% for horario in horarios %}
            <div class="grid-item">
                <h4>{{ horario.Nombre }}</h4>
                <p><strong>Fecha de modificacion:</strong> {{ horario.FechaModificacion }}</p>
                <p><strong>Horario enlazado:</strong> {{ horario.idHorario }}</p>
                <div class="grid-actions">
                    <a href="{% url 'EliminarHorario' horario.idPDFhorario profesor.idProfesor %}" class="delete-btn" onclick="return confirm('¿Estás seguro de que deseas eliminar este horario?')">Eliminar</a>
                    <button class="update-btn" onclick="openModal({{ horario.idPDFhorario }},'{{ horario.Nombre }}','{{ horario.idHorario }}')">Actualizar</button>
                </div>
            </div>
        {% endfor %}
    </div>
    

    <div class="buttons-container">
        <button onclick = "abrirCrear()">Ingresar PDF</button>
    </div>

    
    <div div id="CrearModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="CerrarModalCrear()">&times;</span>
            <h2>Crear Horario</h2>
            <<form method="POST" action="{% url 'CrearPDF' profesor.idProfesor %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div>
                    <button type="submit">Crear PDF</button>
                </div>
            </form>
            

            
        </div>
    </div>

    <div id = "Alerta" class="modal" style="display: none;">
        <div class="modal-content">
            <p id= "Mensaje"></p>
            <button onclick="CerrarAlerta()">Cerrar</button>
        </div>
    </div>

</div>
    
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'MenuAdministrador/Styles/GestionDirectivos.css' %}">
    {% endblock %}

{% endblock %}




{% block extra_js %}
    <script src="{% static 'MenuDirectivo/Scripts/GestionHorarios.js' %}"></script> 
{% endblock %}