{% extends "Directivo/BaseDirectivo.html" %}

{% block content %}

{% load static %}

<title>{% block title %}Gestion de Horarios{% endblock %}</title>


<div class="contenido">
    
    <h2>Horario</h2>


    <div class="grid-container">
    {% for horario in horarios %}
        <div class="grid-item">
            {% if horario.has_pdf %}
                {% for pdf in horariosPDF %}
                    {% if pdf.idHorario.idHorario == horario.idHorario %}
                        <div class="tabs">
                            <button class="tablinks" onclick="abrirhorario(event, {{ horario.idHorario }}, {{ pdf.idPDFhorario }})">Horario</button>
                            <button class="tablinks" onclick="abrirPDF(event, {{ pdf.idPDFhorario }}, {{ horario.idHorario }})">PDF</button>
                        </div>

                        <div id="horario-{{ horario.idHorario }}" class="tab-content" style="display: none;">
                            <h4>Horario - Periodo {{ horario.idPeriodo }}</h4>
                            <p><strong>Lunes:</strong> {{ horario.Lunes }}</p>
                            <p><strong>Martes:</strong> {{ horario.Martes }}</p>
                            <p><strong>Miércoles:</strong> {{ horario.Miercoles }}</p>
                            <p><strong>Jueves:</strong> {{ horario.Jueves }}</p>
                            <p><strong>Viernes:</strong> {{ horario.Viernes }}</p>
                            <div class="grid-actions">
                                <a href="{% url 'EliminarHorario' horario.idHorario profesor.idProfesor %}" class="delete-btn" onclick="return confirm('¿Estás seguro de que deseas eliminar este horario?')">Eliminar</a>
                                <button class="update-btn" onclick="openModal({{ horario.idHorario }}, '{{ horario.Lunes|time:"H:i" }}', '{{ horario.Martes|time:"H:i" }}', '{{ horario.Miercoles|time:"H:i" }}', '{{ horario.Jueves|time:"H:i" }}', '{{ horario.Viernes|time:"H:i" }}','{{ horario.idPeriodo }}')">Actualizar</button>
                            </div>
                        </div>

                        <div id="pdf-{{ pdf.idPDFhorario }}" class="tab-content" style="display: none;">
                            <h4>{{ pdf.Nombre }}</h4>
                            <p><strong>Fecha de modificación:</strong> {{ pdf.FechaModificacion }}</p>
                            <div class="grid-actions">
                                <a href="{% url 'EliminarPDF' pdf.idPDFhorario profesor.idProfesor %}" class="delete-btn" onclick="return confirm('¿Estás seguro de que deseas eliminar este PDF?')">Eliminar PDF</a>
                                <button class="update-btn" onclick="EditarPDF({{ pdf.idPDFhorario }},'{{ pdf.Nombre }}','{{ profesor.idProfesor }}')">Actualizar</button>
                                <a class ="update-btn" href="{{ pdf.horario_pdf.url }}" download class="download-btn">Descargar PDF</a>
                            </div>
                        </div>

                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="tabs">
                    <button class="tablinks" onclick="abrirhorario(event, {{ horario.idHorario }}, 0)">Horario</button>
                    <button onclick = "CrearPDF( {{ profesor.idProfesor }}, '{{ horario.idHorario }}')">Subir PDF</button>
                </div>


                <div id="horario-{{ horario.idHorario }}" class="tab-content" style="display: none  ;">
                    <h4>Horario - Periodo {{ horario.idPeriodo }}</h4>
                    <p><strong>Lunes:</strong> {{ horario.Lunes }}</p>
                    <p><strong>Martes:</strong> {{ horario.Martes }}</p>
                    <p><strong>Miércoles:</strong> {{ horario.Miercoles }}</p>
                    <p><strong>Jueves:</strong> {{ horario.Jueves }}</p>
                    <p><strong>Viernes:</strong> {{ horario.Viernes }}</p>
                    <div class="grid-actions">
                        <a href="{% url 'EliminarHorario' horario.idHorario profesor.idProfesor %}" class="delete-btn" onclick="return confirm('¿Estás seguro de que deseas eliminar este horario?')">Eliminar</a>
                        <button class="update-btn" onclick="openModal({{ horario.idHorario }}, '{{ horario.Lunes|time:"H:i" }}', '{{ horario.Martes|time:"H:i" }}', '{{ horario.Miercoles|time:"H:i" }}', '{{ horario.Jueves|time:"H:i" }}', '{{ horario.Viernes|time:"H:i" }}','{{ horario.idPeriodo }}')">Actualizar</button>
                    </div>
                </div>
            {% endif %}
        </div>            
    {% endfor %}
</div>

    
    <div div id="SubirPDF" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="CerrarCPDF()">&times;</span>
            <h2>Subir PDF</h2>
            <form method="POST" action="{% url 'CrearPDF' 0 0 %}" id="formSPDF" enctype="multipart/form-data"  onsubmit="return validarArchivoPDF(event)">
                {% csrf_token %}
                {{ form3.as_p }}
                <div>
                    <button type="submit">Subir PDF</button>
                </div>
            </form>
            

            
        </div>
    </div>

    <div div id="Editarpdf" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="CerrarEdiPDF()">&times;</span>
            <h2>Editar PDF</h2>
            <form method="POST" id="FormEdPDF" action="{% url 'EditarPDF' 0 0 %}" id="formSPDF" enctype="multipart/form-data" onsubmit="return validarEditarPdf(event)">
                {% csrf_token %}
                <div>
                    <label for="Nombre">Nombre:</label>
                    {{form4.Nombre}}
                </div>
                <div>
                    <label for="Martes">PDF:</label>
                    {{ form4.horario_pdf }}
                </div>
                <div>
                    <button type="submit">Editar PDF</button>
                </div>
            </form>
        </div>
    </div>


    <div class="buttons-container">
        <button onclick = "abrirCrear()">Ingresar Horario</button>
    </div>

    


    <div id="editModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Editar Horario</h2>
    
            <!-- Formulario de edición -->
            <form method="POST" action="{% url 'EditarHorario' 0%}" id="editForm"  onsubmit="return validareditar(event)">
                {% csrf_token %}

                <input type="hidden" name="id" id="edit_id" >


                <div>
                    <label for="Lunes">Lunes:</label>
                    {{form2.Lunes}}
                </div>
                <div>
                    <label for="Martes">Martes:</label>
                    {{ form2.Martes }}
                </div>
                <div>
                    <label for="Miercoles">Miercoles:</label>
                    {{ form2.Miercoles }}
                </div>
                <div>
                    <label for="Jueves">Jueves:</label>
                    {{ form2.Jueves }}
                </div>
                <div>
                    <label for="Viernes">Viernes:</label>
                    {{ form2.Viernes }}
                </div>

                <div>
                    <label for="Periodo">Periodo:</label>
                    {{ form2.idPeriodo }}
                </div>

    
                <div>
                    <button type="submit">Editar Horario</button>
                </div>
            </form>
        </div>
    </div>
        
    
    <input type="hidden" name="id" id="profesorId" value="{{ profesor.idProfesor }}">

    
    <div div id="CrearModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="CerrarModalCrear()">&times;</span>
            <h2>Crear Horario</h2>
            <form method="POST" action="{% url 'CrearHorario' profesor.idProfesor %}"  onsubmit="return validarCrear(event)">
                {% csrf_token %}
                
                
                <div>
                    <label for="Lunes">Lunes:</label>
                    {{ form.Lunes }}
                </div>
    
                <div>
                    <label for="Martes">Martes:</label>
                    {{ form.Martes }}
                </div>
    
                <div>
                    <label for="Miercoles">Miercoles:</label>
                    {{ form.Miercoles }}
                </div>
    
                <div>
                    <label for="Jueves">Jueves:</label>
                    {{ form.Jueves }}
                </div>
    
                <div>
                    <label for="Viernes">Viernes:</label>
                    {{ form.Viernes }}
                </div>

                <div>
                    <label for="Periodo">Periodo:</label>
                    {{ form.idPeriodo }}
                </div>

                
    
                <div>
                    <button type="submit">Crear Horario</button>
                </div>
            </form>
        </div>
    </div>


    <div id = "Alerta" class="modal" style="display: none;">
        <div class="modal-content">
            <p id= "Mensaje"></p>
            <button onclick="CerrarAlerta()">Cerrar</button>
        </div>
    </div>

   
</div>
    
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'MenuDirectivo/Styles/GestionHorario.css' %}">
    {% endblock %}

{% endblock %}




{% block extra_js %}
    <script src="{% static 'MenuDirectivo/Scripts/GestionHorarios.js' %}"></script> 
{% endblock %}