{% extends "Directivo/BaseDirectivo.html" %}

{% block content %}

{% load static %}



    <h2>Profesores</h2>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha de Inicio</th>
                    <th>Fecha Fin</th>
                    <th>Eliminar</th>
                    <th>Actualizar</th>
                </tr>
            </thead>
            <tbody>
                {% for periodo in periodos %}
                    <tr>
                        <td>{{ periodo.Nombre }}</td>
                        <td>{{ periodo.FechaInicio }}</td>
                        <td>{{ periodo.FechaFin }}</td>
                        <td>
                            <a href="{% url 'EliminarPeriodo' periodo.idPeriodo %}" onclick="return confirm('¿Estás seguro de que deseas eliminar a este profesor?')">Eliminar</a>
                        </td>
                        <td>
                            <button onclick="openModal(
                                {{ periodo.idPeriodo }},
                                '{{ periodo.Nombre }}',
                                '{{ periodo.FechaInicio|date:"Y-m-d" }}',
                                '{{ periodo.FechaFin|date:"Y-m-d" }}'
                            )">Actualizar</button>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <div>
        <button onclick = "abrirCrear()">Crear Periodo</button>
    </div>



    <div id="editModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Editar Directivo</h2>
            
            <!-- Formulario de edición -->
            <form method="POST" action="{% url 'EditarPeriodo' 0 %}" id="editForm" onsubmit="return validateMatricula()">
                {% csrf_token %}

                <div>
                    <label for="nombre">Nombre:</label>
                    {{ form.Nombre }}
                </div>
    
                <div>
                    <label for="FechaInicio">Fecha de Inicio:</label>
                    {{ form.FechaInicio }}
                </div>
    
                <div>
                    <label for="FechaFin">Fecha Final:</label>
                    {{ form.FechaFin }}
                </div>
    
                <div>
                    <button type="submit">Editar Periodo</button>
                </div>


            </form>
        </div>
    </div>

    <div div id="CrearModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="CerrarModalCrear()">&times;</span>
            <h2>Crear Periodo</h2>
            <form method="POST" action="{% url 'CrearPeriodo' %}">
                {% csrf_token %}
                
    
                <div>
                    <label for="nombre">Nombre:</label>
                    {{ form.Nombre }}
                </div>
    
                <div>
                    <label for="FechaInicio">Fecha de Inicio:</label>
                    {{ form.FechaInicio }}
                </div>
    
                <div>
                    <label for="FechaFin">Fecha Final:</label>
                    {{ form.FechaFin }}
                </div>
    
                <div>
                    <button type="submit">Crear Periodo</button>
                </div>

            </form>
        </div>
    </div>


    
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'MenuDirectivo/Styles/GestionProfesores.css' %}">
    {% endblock %}

{% endblock %}




{% block extra_js %}
    <script src="{% static 'MenuDirectivo/Scripts/GestionPeriodos.js' %}"></script> 
{% endblock %}