{% extends "Directivo/BaseDirectivo.html" %}

{% block content %}

{% load static %}



    <h2>Horario</h2>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miercoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                    <th>Periodo</th>
                    <th>Eliminar</th> 
                    <th>Actualizar</th>
                </tr>
            </thead>
            <tbody>
                {% for horario in horarios %}
                    <tr>
                        <td>{{ horario.Lunes }}</td>
                        <td>{{ horario.Martes }}</td>
                        <td>{{ horario.Miercoles }}</td>
                        <td>{{ horario.Jueves }}</td>
                        <td>{{ horario.Viernes }}</td>
                        <td>{{ horario.idPeriodo }}</td>
                        <td>
                            <a href="{% url 'EliminarHorario' horario.idHorario profesor.idProfesor %}" onclick="return confirm('¿Estás seguro de que deseas eliminar a este profesor?')">Eliminar</a>
                        </td>
                        <td>
                            <button onclick="openModal({{ horario.idHorario }}, '{{ horario.Lunes|time:"H:i" }}', '{{ horario.Martes|time:"H:i" }}', '{{ horario.Miercoles|time:"H:i" }}', '{{ horario.Jueves|time:"H:i" }}', '{{ horario.Viernes|time:"H:i" }}','{{horario.idPeriodo}}')">Actualizar</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <button onclick = "abrirCrear()">Ingresar Horario</button>
    </div>



    <div id="editModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Editar Horario</h2>
    
            <!-- Formulario de edición -->
            <form method="POST" action="{% url 'EditarHorario' 0%}" id="editForm">
                {% csrf_token %}
    
                <div>
                    <label for="Lunes">Lunes:</label>
                    {{form.Lunes}}
                </div>
                <div>
                    <label for="Martes">Martes:</label>
                    {{ form.Martes }}
                </div>
                <div>
                    <label for="Miercoles">Miercoles:</label>
                    {{ form.Miercoles }}
                </div>
                <div>
                    <label for="Jueves">Jueves:</label>
                    {{ form.Jueves }}
                </div>
                <div>
                    <label for="Viernes">Viernes:</label>
                    {{ form.Viernes }}
                </div>
                <div>
                    <label for="Periodo">Periodo:</label>
                    {{ form.idPeriodo }}
                </div>
    
                <div>
                    <button type="submit">Editar Horario</button>
                </div>
            </form>
        </div>
    </div>
        
    


    
    <div div id="CrearModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="CerrarModalCrear()">&times;</span>
            <h2>Crear Horario</h2>
            <form method="POST" action="{% url 'CrearHorario' profesor.idProfesor %}">
                {% csrf_token %}
                
    
                <div>
                    <label for="Lunes">Lunes:</label>
                    {{ form.Lunes }}
                </div>
    
                <div>
                    <label for="Martes">Martes:</label>
                    {{ form.Martes }}
                </div>
    
                <div>
                    <label for="Miercoles">Miercoles:</label>
                    {{ form.Miercoles }}
                    <!-- Para mostrar el error específico de matrícula -->
                </div>
    
                <div>
                    <label for="Jueves">Jueves:</label>
                    {{ form.Jueves }}
                </div>
    
                <div>
                    <label for="Viernes">Viernes:</label>
                    {{ form.Viernes }}
                </div>

                <div>
                    <label for="Periodo">Periodo:</label>
                    {{ form.idPeriodo }}
                </div>

                
    
                <div>
                    <button type="submit">Crear Horario</button>
                </div>
            </form>
        </div>
    </div>

    
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'MenuDirectivo/Styles/GestionProfesores.css' %}">
    {% endblock %}

{% endblock %}




{% block extra_js %}
    <script src="{% static 'MenuDirectivo/Scripts/GestionHorarios.js' %}"></script> 
{% endblock %}