{% extends "Directivo/BaseDirectivo.html" %}

<title>{% block title %}Inicio Directivo{% endblock %}</title>


{% load static %}

{% block content %}

<body>
    <div class = "Fondo">
        <div class="container">
            <h1>{{ directivo.Nombre }}</h1>
            <h2>Matricula: {{ directivo.Matricula }}</h2>
        </div>  
        <div class = "f_img">
            <img class="imagen" src="{% static 'MenuDirectivo/img/FotoInicio.jpeg' %}" alt="Cara de una persona de lado">
        </div>
    </div> 
</body>


{% endblock  %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'MenuAdministrador/Styles/InicioAdmin.css' %}">
{% endblock %}