    {% extends "Directivo/BaseDirectivo.html" %}

{% block content %}

{% load static %}



    <h2>Justificantes</h2>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Motivo</th>
                    <th>Estado</th>
                    <th>Dia de la asistencia</th>
                    <th>Matricula del profesor</th>

                </tr>
            </thead>
            <tbody>
                {% for justificante in justificantes %}
                    <tr>
                        <td>{{ justificante.motivo }}</td>
                        <td>{{ justificante.estado }}</td>
                        <td>{{ justificante.idDiaAsistencia }}</td>
                        <td>{{ justificante.profesor }}</td>
                        {% if justificante.estado == "Pendiente" %}
                            <td>
                                <a href="{% url 'AceptarJustificante' justificante.idJustificacion %}">Aceptar</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'MenuDirectivo/Styles/GestionProfesores.css' %}">
    {% endblock %}

{% endblock %}




{% block extra_js %}
    <script src="{% static 'MenuDirectivo/Scripts/GestionProfesores.js' %}"></script> 
{% endblock %}