{% extends "Directivo/BaseDirectivo.html" %}

{% load static %}

<title>{% block title %}Reporte de Asistencias{% endblock %}</title>
{% block content %}


<body>
    <h2>Reporte de Asistencias</h2>
    <div>
        <!-- Formulario de búsqueda -->
        <div>
            <input 
                type="text" 
                id="busqueda-periodo" 
                placeholder="Buscar por periodo escolar..." 
                autocomplete="off">
            <ul id="resultados-busqueda"></ul>
        </div>
        
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Matricula</th>
                    <th>Asistencias</th>
                    <th>Retardos</th>
                </tr>
            </thead>
            <tbody>
                {% for profesor in profesores %}
                    <tr>
                        <td>{{ profesor.Matricula }}</td>
                        <td>{{ profesor.asistencias_count }}</td>
                        <td>{{ profesor.retardos_count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>


{% endblock %}



{% block extra_css %}
    <link rel="stylesheet" href="{% static 'MenuAdministrador/Styles/GestionDirectivos.css' %}">
{% endblock %}