{% extends "Directivo/BaseDirectivo.html" %}

{% load static %}

<title>{% block title %}Reporte de Asistencias{% endblock %}</title>
{% block content %}


<body>
    <h2>Reporte de Asistencias</h2>
    <div>
        <!-- Formulario de búsqueda -->
        <div>
            <form method="get" action="{% url 'Periodo' %}">
                <select name="search">
                    <option value="" disabled selected>Selecciona un periodo escolar...</option>
                    {% for periodo in periodos %}
                        <option value="{{ periodo.Nombre }}">{{ periodo.Nombre }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Buscar</button>
            </form>
        </div>


        <div class="buttons-container">
            <button onclick = "abrirCrear()">Generar Reporte</button>
        </div>
        
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Matricula</th>
                    <th>Asistencias</th>
                    <th>Retardos</th>
                </tr>
            </thead>
            <tbody>
                {% for profesor in profesores %}
                    <tr>
                        <td>{{ profesor.Matricula }}</td>
                        <td>{{ profesor.asistencias_count }}</td>
                        <td>{{ profesor.retardos_count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal" id="ModalReporte" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="cerrarModal()">&times;</span>
            <h2>Generar Reporte</h2>
            <form method="get" id="FormRepor" action="{% url 'ReportePDFDirec' %}">
                <select name="search" required>
                    <option value="" disabled selected >Selecciona un periodo escolar...</option>
                    {% for periodo in periodos %}
                        <option value="{{ periodo.Nombre }}">{{ periodo.Nombre }}</option>
                    {% endfor %}
                </select>
                <button type="button" onclick="generarReporte('/ReportePDFDirec')">Generar PDF</button>
                <button type="button" onclick="generarReporte('/ReporteExcel')">Generar Excel</button>
            </form>
        </div>
    </div>
    

</body>


{% endblock %}


{% block extra_js %}
    <script src="{% static 'MenuDirectivo/Scripts/Reporte.js' %}"></script> 
{% endblock %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'MenuAdministrador/Styles/GestionDirectivos.css' %}">
{% endblock %}