<body>

    <h2>Elegir Periodo</h2>
    <div>
        <form method="GET" action="{% url 'Periodo' %}">
            <label>Busqueda</label>
            <input type="text" name="search" id="search" placeholder="Buscar">
            <button type="submit">Buscar</button>  <!-- Agrega un botón para enviar el formulario -->
        </form>
    </div>
    <div>
        {% for profesor in profesores %}
            <p>
                {{ profesor.Nombre }}
                Asistencias: {{ profesor.asistencias_count }}
                Retardos: {{ profesor.retardos_count }}
            </p>
        {% endfor %}

    </div>

</body>