{% extends "Administrador/BaseAdministrador.html" %}

{% load static %}

<title>{% block title %}Reporte de Asistencias{% endblock %}</title>
{% block content %}


<body>
<div class="contenido">
    
    <h2>Reporte de Asistencias</h2>
    <div>
        <!-- Formulario de búsqueda -->
        <div>
            <form method="get" action="{% url 'ReporteAdministrador' %}">
                <select name="search">
                    <option value="" disabled selected>Selecciona un periodo escolar...</option>
                    {% for periodo in periodos %}
                        <option value="{{ periodo.Nombre }}">{{ periodo.Nombre }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Buscar</button>
            </form>
        </div>

        <div>
            <form method="get" action="{% url 'reporte_pdf' %}">
                <select name="search">
                    <option value="" disabled selected>Selecciona un periodo escolar...</option>
                    {% for periodo in periodos %}
                        <option value="{{ periodo.Nombre }}">{{ periodo.Nombre }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Generar PDF</button>
            </form>
        </div>
        
    </div>


    <div>
        <table>
            <thead>
                <tr>
                    <th>Matricula</th>
                    <th>Asistencias</th>
                    <th>Retardos</th>
                </tr>
            </thead>
            <tbody>
                {% for profesor in profesores %}
                    <tr>
                        <td>{{ profesor.Matricula }}</td>
                        <td>{{ profesor.asistencias_count }}</td>
                        <td>{{ profesor.retardos_count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
</body>



{% endblock%}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'MenuAdministrador/Styles/GestionDirectivos.css' %}">
{% endblock %}


{% block extra_js %}
    <script src="{% static 'MenuAdministrador/Scripts/Reporte.js' %}"></script> 
{% endblock %}
