{% extends "Profesor/BaseProfesor.html" %}

{% load static %}

<title>{% block title %}Asistencias{% endblock %}</title>

{% block content %}
<body>
    <h2>Asistencias de {{ profesor.Nombre }}</h1>
        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Tipo</th>
                    <th>Justificación</th> <!-- Columna fija -->
                </tr>
            </thead>
            <tbody>
                {% for asistencia in asistencias %}
                    <tr>
                        <td>{{ asistencia.fecha_y_hora|date:"d/m/Y" }}</td>
                        <td>{{ asistencia.fecha_y_hora|time:"H:i" }}</td>
                        <td>{{ asistencia.Tipo }}</td>
                        <td>
                            {% if asistencia.Tipo == "Retardo" %}
                                {% if asistencia.justificante %}
                                    <span class="estado-pendiente">Pendiente</span>
                                {% else %}
                                    <button class="abrir-modal btn-justificar" data-id="{{ asistencia.id }}">
                                        Justificar
                                    </button>
                                {% endif %}
                            {% else %}
                                ---
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">No hay asistencias para este profesor.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        


    <div id="modal" class="modal" style = "display: none;">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Justificación de Asistencia</h2>
            <form id="justificacion-form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Enviar Justificación</button>
            </form>
        </div>
    </div>
</body>

{% endblock  %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'MenuAdministrador/Styles/GestionDirectivos.css' %}">
{% endblock %}


{% block extra_js %}
    <script src="{% static 'MenuProfesor/Scripts/Asistencias.js' %}"></script> 
{% endblock %}




