{% load static %}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'MenuProfesor/Styles/base.css' %}">
    {% block extra_css %}
    
    {% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li class = "navegacion">
                <a href="{% url "Asistencias" %}">Asistencia</a>
            </li>
            <li class = "navegacion">
                <a href="{% url "lista" %}">Lista</a>
            </li>
            <li class = "navegacion">
                <a href="{% url "FotoCara" %}">CapturarCara</a>
            </li>
            <li class = "boton_salir">
                <a href="{% url "CerrarSesionProfesor" %}" class = "logout-button">Salir</a>
            </li>
                
        </ul>
    </nav>    
    <main class="content">
        {% block content %}{% endblock %}
    </main>
    <footer>
        <!-- Pie de página -->
    </footer>
    {% block extra_js %}
        <!-- Aquí puedes incluir scripts por defecto o en blanco -->
    {% endblock %}
</body>
